It's time to ship your copy of #{@copy.book.title}!

Here are the steps:
1. Put the book in a box or mailer. If you have listed more than one copy of
#{@copy.book.title}, make sure you send a #{@copy.edition.name} copy.
2. Download and print the label, which you can find here: #{@shipment.label_url}
3. Tape the label on the box or mailer and drop the package off at the post office.

**USPS must scan the label within five calendar days from now. If they don't, the label
will be canceled and the person who requested the book will be refunded.**

Thank you for passing on your book to a new reader!
