This email is confirmation of your request for #{@copy.book.title}.

We've notified the book's owner of your request and they should be shipping the
book to you soon. We'll update you when it's on its way.
