---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Admin Admin","street1":"1410 NE Campus Parkway","city":"Seattle","state":"WA","zip":"98195","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f411ec825f4ed1c6fe45402c00069ef7
      Location:
      - "/api/v2/addresses/adr_8844f48aa5e44845bb22d2a1f754789f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb1sj 0ab7988560
      - intlb1wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_8844f48aa5e44845bb22d2a1f754789f","object":"Address","created_at":"2020-09-01T22:57:10Z","updated_at":"2020-09-01T22:57:10Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Tue, 01 Sep 2020 22:57:10 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f411ec885f4ed1c6fe45404700069f0d
      Location:
      - "/api/v2/parcels/prcl_b92ab588d701462ead6736b94c866bbe"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb1sj 0ab7988560
      - intlb2wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_b92ab588d701462ead6736b94c866bbe","object":"Parcel","created_at":"2020-09-01T22:57:11Z","updated_at":"2020-09-01T22:57:11Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Tue, 01 Sep 2020 22:57:10 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_8844f48aa5e44845bb22d2a1f754789f"},"from_address":{"id":"adr_8844f48aa5e44845bb22d2a1f754789f"},"parcel":{"id":"prcl_b92ab588d701462ead6736b94c866bbe"},"options":{"special_rates_eligibility":"USPS.MEDIAMAIL"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f411ec845f4ed1c7fe45404b00069f1c
      Location:
      - "/api/v2/shipments/shp_039e7a3a844c4d439b71eedc819247f5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb1sj 0ab7988560
      - intlb1wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-01T22:57:11Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-01T22:57:11Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8844f48aa5e44845bb22d2a1f754789f","object":"Address","created_at":"2020-09-01T22:57:10Z","updated_at":"2020-09-01T22:57:10Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b92ab588d701462ead6736b94c866bbe","object":"Parcel","created_at":"2020-09-01T22:57:11Z","updated_at":"2020-09-01T22:57:11Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2fa766ac0d3e4a15b00a07f85c66d3f7","object":"Rate","created_at":"2020-09-01T22:57:11Z","updated_at":"2020-09-01T22:57:11Z","mode":"test","service":"First","carrier":"USPS","rate":"5.04","currency":"USD","retail_rate":"5.04","retail_currency":"USD","list_rate":"5.04","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_039e7a3a844c4d439b71eedc819247f5","carrier_account_id":"ca_f3f8e1cfd8434074aed3cbdedf3529b8"},{"id":"rate_3d1eb93444474f608684eb6760f0520e","object":"Rate","created_at":"2020-09-01T22:57:11Z","updated_at":"2020-09-01T22:57:11Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_039e7a3a844c4d439b71eedc819247f5","ca[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=320&currency=usd&payment_method=pm_card_chargeDeclinedInsufficientFunds&confirm=true&error_on_requires_action=true&capture_method=manual
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1HMiPcDdxaJLlE0xFDi1emL8",
            "code": "card_declined",
            "decline_code": "insufficient_funds",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card has insufficient funds.",
            "payment_intent": {
              "id": "pi_1HMiPcDdxaJLlE0xo32HNocm",
              "object": "payment_intent",
              "amount": 320,
              "amount_capturable": 0,
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_1HMiPcDdxaJLlE0xFDi1emL8",
                    "object": "charge",
                    "amount": 320,
                    "amount_refunded": 0,
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": null,
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": null,
                        "line1": null,
                        "line2": null,
                        "postal_code": null,
                        "state": null
                      },
                      "email": null,
                      "name": null,
                      "phone": null
                    },
                    "calculated_statement_descriptor": "Stripe",
                    "captured": false,
                    "created": 1599001032,
                    "currency": "usd",
                    "customer": null,
                    "description": null,
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_code": "card_declined",
                    "failure_message": "Your card has insufficient funds.",
                    "fraud_details": {
                    },
                    "invoice": null,
                    "livemode": false,
                    "metadata": {
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "declined_by_network",
                      "reason": "insufficient_funds",
                      "risk_level": "normal",
                      "risk_score": 33,
                      "seller_message": "The bank returned the decline code `insufficient_funds`.",
                      "type": "issuer_declined"
                    },
                    "paid": false,
                    "payment_intent": "pi_1HMiPcDdxaJLlE0xo32HNocm",
                    "payment_method": "pm_1HMiPcDdxaJLlE0xEmBGKr2U",
                    "payment_method_details": {
                      "card": {
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": null,
                          "cvc_check": null
                        },
                        "country": "US",
                        "exp_month": 9,
                        "exp_year": 2021,
                        "fingerprint": "elmeQvIx8VZhPknF",
                        "funding": "credit",
                        "installments": null,
                        "last4": "9995",
                        "network": "visa",
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": null,
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_1HMiPcDdxaJLlE0xFDi1emL8/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": null,
                    "source_transfer": null,
                    "statement_descriptor": null,
                    "statement_descriptor_suffix": null,
                    "status": "failed",
                    "transfer_data": null,
                    "transfer_group": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_1HMiPcDdxaJLlE0xo32HNocm"
              },
              "client_secret": "pi_1HMiPcDdxaJLlE0xo32HNocm_secret_VsnFbZ52fROCk4QTnHpRmlMpY",
              "confirmation_method": "automatic",
              "created": 1599001032,
              "currency": "usd",
              "customer": null,
              "description": null,
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_1HMiPcDdxaJLlE0xFDi1emL8",
                "code": "card_declined",
                "decline_code": "insufficient_funds",
                "doc_url": "https://stripe.com/docs/error-codes/card-declined",
                "message": "Your card has insufficient funds.",
                "payment_method": {
                  "id": "pm_1HMiPcDdxaJLlE0xEmBGKr2U",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
                    "phone": null
                  },
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2021,
                    "fingerprint": "elmeQvIx8VZhPknF",
                    "funding": "credit",
                    "generated_from": null,
                    "last4": "9995",
                    "networks": {
                      "available": [
                        "visa"
                      ],
                      "preferred": null
                    },
                    "three_d_secure_usage": {
                      "supported": true
                    },
                    "wallet": null
                  },
                  "created": 1599001032,
                  "customer": null,
                  "livemode": false,
                  "metadata": {
                  },
                  "type": "card"
                },
                "type": "card_error"
              },
              "livemode": false,
              "metadata": {
              },
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": {
              "id": "pm_1HMiPcDdxaJLlE0xEmBGKr2U",
              "object": "payment_method",
              "billing_details": {
                "address": {
       [...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"start_datetime":"2020-09-01T15:57:10-07:00"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f411ec895f4ed1c9fe45406800069f5d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb2sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb1wdc 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"shipments":[],"has_more":false}'
  recorded_at: Tue, 01 Sep 2020 22:57:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?created%5Bgte%5D=1599001030
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
  [...]
