---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Admin Admin","street1":"1410 NE Campus Parkway","city":"Seattle","state":"WA","zip":"98195","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f411ec825f4ed1cafe45406e00069f86
      Location:
      - "/api/v2/addresses/adr_f64e156cefed4d66beddfdddbe6417be"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb1sj 0ab7988560
      - intlb1wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_f64e156cefed4d66beddfdddbe6417be","object":"Address","created_at":"2020-09-01T22:57:14Z","updated_at":"2020-09-01T22:57:14Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Tue, 01 Sep 2020 22:57:14 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f411ec885f4ed1cbfe45408900069f9c
      Location:
      - "/api/v2/parcels/prcl_ace60bf70d2a44438c33c6119de552dd"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb2sj 0ab7988560
      - intlb2wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_ace60bf70d2a44438c33c6119de552dd","object":"Parcel","created_at":"2020-09-01T22:57:15Z","updated_at":"2020-09-01T22:57:15Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Tue, 01 Sep 2020 22:57:14 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_f64e156cefed4d66beddfdddbe6417be"},"from_address":{"id":"adr_f64e156cefed4d66beddfdddbe6417be"},"parcel":{"id":"prcl_ace60bf70d2a44438c33c6119de552dd"},"options":{"special_rates_eligibility":"USPS.MEDIAMAIL"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - f411ec855f4ed1cbfe45408d00069fac
      Location:
      - "/api/v2/shipments/shp_b3ca1b55a9d446e7b47f5f3d1cccbb4c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb1wdc 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-01T22:57:15Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-01T22:57:15Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f64e156cefed4d66beddfdddbe6417be","object":"Address","created_at":"2020-09-01T22:57:14Z","updated_at":"2020-09-01T22:57:14Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ace60bf70d2a44438c33c6119de552dd","object":"Parcel","created_at":"2020-09-01T22:57:15Z","updated_at":"2020-09-01T22:57:15Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e3d849393ea646e7a6dc22a887d92b92","object":"Rate","created_at":"2020-09-01T22:57:16Z","updated_at":"2020-09-01T22:57:16Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_b3ca1b55a9d446e7b47f5f3d1cccbb4c","carrier_account_id":"ca_f3f8e1cfd8434074aed3cbdedf3529b8"},{"id":"rate_b7a4db4c9beb4ef1a89430e100662cc3","object":"Rate","created_at":"2020-09-01T22:57:16Z","updated_at":"2020-09-01T22:57:16Z","mode":"test","service":"MediaMail","carrier":"USPS","rate":"2.80","currency":"USD","retail_rate":"2.80","retail_currency":"USD","list_rate":"2.80","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b3ca1b55a9d446e7b47f5f3d1cccbb4c","carrier_a[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=320&currency=usd&payment_method=pm_card_chargeDeclinedProcessingError&confirm=true&error_on_requires_action=true&capture_method=manual
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1HMiPgDdxaJLlE0xRFb5aJah",
            "code": "processing_error",
            "doc_url": "https://stripe.com/docs/error-codes/processing-error",
            "message": "An error occurred while processing your card. Try again in a little bit.",
            "payment_intent": {
              "id": "pi_1HMiPgDdxaJLlE0xLyQY82xc",
              "object": "payment_intent",
              "amount": 320,
              "amount_capturable": 0,
              "amount_received": 0,
              "application": null,
              "application_fee_amount": null,
              "canceled_at": null,
              "cancellation_reason": null,
              "capture_method": "manual",
              "charges": {
                "object": "list",
                "data": [
                  {
                    "id": "ch_1HMiPgDdxaJLlE0xRFb5aJah",
                    "object": "charge",
                    "amount": 320,
                    "amount_refunded": 0,
                    "application": null,
                    "application_fee": null,
                    "application_fee_amount": null,
                    "balance_transaction": null,
                    "billing_details": {
                      "address": {
                        "city": null,
                        "country": null,
                        "line1": null,
                        "line2": null,
                        "postal_code": null,
                        "state": null
                      },
                      "email": null,
                      "name": null,
                      "phone": null
                    },
                    "calculated_statement_descriptor": "Stripe",
                    "captured": false,
                    "created": 1599001036,
                    "currency": "usd",
                    "customer": null,
                    "description": null,
                    "destination": null,
                    "dispute": null,
                    "disputed": false,
                    "failure_code": "processing_error",
                    "failure_message": "An error occurred while processing your card. Try again in a little bit.",
                    "fraud_details": {
                    },
                    "invoice": null,
                    "livemode": false,
                    "metadata": {
                    },
                    "on_behalf_of": null,
                    "order": null,
                    "outcome": {
                      "network_status": "declined_by_network",
                      "reason": "processing_error",
                      "risk_level": "normal",
                      "risk_score": 29,
                      "seller_message": "The bank returned the decline code `processing_error`.",
                      "type": "issuer_declined"
                    },
                    "paid": false,
                    "payment_intent": "pi_1HMiPgDdxaJLlE0xLyQY82xc",
                    "payment_method": "pm_1HMiPgDdxaJLlE0xxiuJ1jEW",
                    "payment_method_details": {
                      "card": {
                        "brand": "visa",
                        "checks": {
                          "address_line1_check": null,
                          "address_postal_code_check": null,
                          "cvc_check": null
                        },
                        "country": "US",
                        "exp_month": 9,
                        "exp_year": 2021,
                        "fingerprint": "wFFqHhCLKKXhB6yN",
                        "funding": "credit",
                        "installments": null,
                        "last4": "0119",
                        "network": "visa",
                        "three_d_secure": null,
                        "wallet": null
                      },
                      "type": "card"
                    },
                    "receipt_email": null,
                    "receipt_number": null,
                    "receipt_url": null,
                    "refunded": false,
                    "refunds": {
                      "object": "list",
                      "data": [

                      ],
                      "has_more": false,
                      "total_count": 0,
                      "url": "/v1/charges/ch_1HMiPgDdxaJLlE0xRFb5aJah/refunds"
                    },
                    "review": null,
                    "shipping": null,
                    "source": null,
                    "source_transfer": null,
                    "statement_descriptor": null,
                    "statement_descriptor_suffix": null,
                    "status": "failed",
                    "transfer_data": null,
                    "transfer_group": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/charges?payment_intent=pi_1HMiPgDdxaJLlE0xLyQY82xc"
              },
              "client_secret": "pi_1HMiPgDdxaJLlE0xLyQY82xc_secret_nCEpEuHtEKIJlaof7sEzVnQco",
              "confirmation_method": "automatic",
              "created": 1599001036,
              "currency": "usd",
              "customer": null,
              "description": null,
              "invoice": null,
              "last_payment_error": {
                "charge": "ch_1HMiPgDdxaJLlE0xRFb5aJah",
                "code": "processing_error",
                "doc_url": "https://stripe.com/docs/error-codes/processing-error",
                "message": "An error occurred while processing your card. Try again in a little bit.",
                "payment_method": {
                  "id": "pm_1HMiPgDdxaJLlE0xxiuJ1jEW",
                  "object": "payment_method",
                  "billing_details": {
                    "address": {
                      "city": null,
                      "country": null,
                      "line1": null,
                      "line2": null,
                      "postal_code": null,
                      "state": null
                    },
                    "email": null,
                    "name": null,
                    "phone": null
                  },
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2021,
                    "fingerprint": "wFFqHhCLKKXhB6yN",
                    "funding": "credit",
                    "generated_from": null,
                    "last4": "0119",
                    "networks": {
                      "available": [
                        "visa"
                      ],
                      "preferred": null
                    },
                    "three_d_secure_usage": {
                      "supported": true
                    },
                    "wallet": null
                  },
                  "created": 1599001036,
                  "customer": null,
                  "livemode": false,
                  "metadata": {
                  },
                  "type": "card"
                },
                "type": "card_error"
              },
              "livemode": false,
              "metadata": {
              },
              "next_action": null,
              "on_behalf_of": null,
              "payment_method": null,
              "payment_method_options": {
                "card": {
                  "installments": null,
                  "network": null,
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "receipt_email": null,
              "review": null,
              "setup_future_usage": null,
              "shipping": null,
              "source": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": null,
              "status": "requires_payment_method",
              "transfer_data": null,
              "transfer_group": null
            },
            "payment_method": {
              "id": "pm_1HMiPgDdxaJLlE0xxiuJ1jEW",
              "object": "payment_method",
              "billing_details": {
                "address": {
       [...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"start_datetime":"2020-09-01T15:57:14-07:00"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - f411ec865f4ed1cdfe4540aa00069ff6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2wdc 59038857a6
      - intlb1sj 0ab7988560
      - intlb1wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"shipments":[],"has_more":false}'
  recorded_at: Tue, 01 Sep 2020 22:57:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?created%5Bgte%5D=1599001034
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
  [...]
