---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Admin Admin","street1":"1410 NE Campus Parkway","city":"Seattle","state":"WA","zip":"98195","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0535f4edc8ff83e90f80008273b
      Location:
      - "/api/v2/addresses/adr_2d6b4588f8a849ab923eab4624fa5cfa"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb1sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_2d6b4588f8a849ab923eab4624fa5cfa","object":"Address","created_at":"2020-09-01T23:43:11Z","updated_at":"2020-09-01T23:43:11Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Tue, 01 Sep 2020 23:43:11 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0555f4edc90f83e940a00082742
      Location:
      - "/api/v2/parcels/prcl_5479a760f6774084a1bed084a3a968e9"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_5479a760f6774084a1bed084a3a968e9","object":"Parcel","created_at":"2020-09-01T23:43:12Z","updated_at":"2020-09-01T23:43:12Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Tue, 01 Sep 2020 23:43:11 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_2d6b4588f8a849ab923eab4624fa5cfa"},"from_address":{"id":"adr_2d6b4588f8a849ab923eab4624fa5cfa"},"parcel":{"id":"prcl_5479a760f6774084a1bed084a3a968e9"},"options":{"special_rates_eligibility":"USPS.MEDIAMAIL"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0585f4edc90f83e940e00082746
      Location:
      - "/api/v2/shipments/shp_876fbb5892a54a65841a3866906fb350"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb2nuq 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-01T23:43:12Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-01T23:43:12Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2d6b4588f8a849ab923eab4624fa5cfa","object":"Address","created_at":"2020-09-01T23:43:11Z","updated_at":"2020-09-01T23:43:11Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_5479a760f6774084a1bed084a3a968e9","object":"Parcel","created_at":"2020-09-01T23:43:12Z","updated_at":"2020-09-01T23:43:12Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_76f6bb2a7e924a0f9afc5eb14c7def20","object":"Rate","created_at":"2020-09-01T23:43:12Z","updated_at":"2020-09-01T23:43:12Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_876fbb5892a54a65841a3866906fb350","carrier_account_id":"ca_f3f8e1cfd8434074aed3cbdedf3529b8"},{"id":"rate_6eb34bfc437e48aaa8d8727da26ca18e","object":"Rate","created_at":"2020-09-01T23:43:12Z","updated_at":"2020-09-01T23:43:12Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_876fbb5892a54a65841a3866906fb350","carrier_ac[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=320&currency=usd&payment_method=pm_card_visa&confirm=true&error_on_requires_action=true&capture_method=manual
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMj88DdxaJLlE0xKv0CjSBf",
          "object": "payment_intent",
          "amount": 320,
          "amount_capturable": 320,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1HMj89DdxaJLlE0x9VHpFbnd",
                "object": "charge",
                "amount": 320,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": null,
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": false,
                "created": 1599003793,
                "currency": "usd",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 13,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1HMj88DdxaJLlE0xKv0CjSBf",
                "payment_method": "pm_1HMj88DdxaJLlE0x7zXCxtnV",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2021,
                    "fingerprint": "Hwj1EohYu6MmCRA3",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1HKYq9DdxaJLlE0x/ch_1HMj89DdxaJLlE0x9VHpFbnd/rcpt_HwcMZsUMsZbxquvXKFcjQfnFtyitvBP",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1HMj89DdxaJLlE0x9VHpFbnd/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1HMj88DdxaJLlE0xKv0CjSBf"
          },
          "client_secret": "pi_1HMj88DdxaJLlE0xKv0CjSBf_secret_Dcr9hUQhZNjxuxuRePOcWy3Pi",
          "confirmation_method": "automatic",
          "created": 1599003792,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1HMj88DdxaJLlE0x7zXCxtnV",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 01 Sep 2020 23:43:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_1HMj88DdxaJLlE0xKv0CjSBf/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMj88DdxaJLlE0xKv0CjS[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"start_datetime":"2020-09-01T16:43:11-07:00"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0585f4edc92f83e943100082775
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb2nuq 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"shipments":[],"has_more":false}'
  recorded_at: Tue, 01 Sep 2020 23:43:11 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?created%5Bgte%5D=1599003791
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
  [...]
