---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Admin Admin","street1":"1410 NE Campus Parkway","city":"Seattle","state":"WA","zip":"98195","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5c99f24c5f4f25bef83fa0f200012173
      Location:
      - "/api/v2/addresses/adr_aafc8d4e733d48cfb60b2d75853b6ac2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 59038857a6
      - intlb1sj 0ab7988560
      - intlb1wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_aafc8d4e733d48cfb60b2d75853b6ac2","object":"Address","created_at":"2020-09-02T04:55:27Z","updated_at":"2020-09-02T04:55:27Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Wed, 02 Sep 2020 04:55:26 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - '08d6b0bc5f4f25bff84fa53000012984'
      Location:
      - "/api/v2/parcels/prcl_94e47416a52f41c7b7d445dec60efc9e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb2nuq 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_94e47416a52f41c7b7d445dec60efc9e","object":"Parcel","created_at":"2020-09-02T04:55:27Z","updated_at":"2020-09-02T04:55:27Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Wed, 02 Sep 2020 04:55:26 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_aafc8d4e733d48cfb60b2d75853b6ac2"},"from_address":{"id":"adr_aafc8d4e733d48cfb60b2d75853b6ac2"},"parcel":{"id":"prcl_94e47416a52f41c7b7d445dec60efc9e"},"options":{"special_rates_eligibility":"USPS.MEDIAMAIL"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - ef08036a5f4f25bff82d15980000be47
      Location:
      - "/api/v2/shipments/shp_8f86b8d459ac4e889c7379b167afd4c5"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-02T04:55:27Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-02T04:55:27Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_aafc8d4e733d48cfb60b2d75853b6ac2","object":"Address","created_at":"2020-09-02T04:55:27Z","updated_at":"2020-09-02T04:55:27Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_94e47416a52f41c7b7d445dec60efc9e","object":"Parcel","created_at":"2020-09-02T04:55:27Z","updated_at":"2020-09-02T04:55:27Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_e54e762eba56448c810153770a776a5b","object":"Rate","created_at":"2020-09-02T04:55:28Z","updated_at":"2020-09-02T04:55:28Z","mode":"test","service":"MediaMail","carrier":"USPS","rate":"2.80","currency":"USD","retail_rate":"2.80","retail_currency":"USD","list_rate":"2.80","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8f86b8d459ac4e889c7379b167afd4c5","carrier_account_id":"ca_f3f8e1cfd8434074aed3cbdedf3529b8"},{"id":"rate_b23d92a3dca74f068539cdffd6dc6b84","object":"Rate","created_at":"2020-09-02T04:55:28Z","updated_at":"2020-09-02T04:55:28Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_8f86b8d459ac4e889c7379b167afd4c5","carrier_ac[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=320&currency=usd&payment_method=pm_card_visa&confirm=true&error_on_requires_action=true&capture_method=manual
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMo0KDdxaJLlE0x9fGcPoED",
          "object": "payment_intent",
          "amount": 320,
          "amount_capturable": 320,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1HMo0KDdxaJLlE0xebKWfeeP",
                "object": "charge",
                "amount": 320,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": null,
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": false,
                "created": 1599022528,
                "currency": "usd",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 48,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1HMo0KDdxaJLlE0x9fGcPoED",
                "payment_method": "pm_1HMo0KDdxaJLlE0xIjUr9dWX",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2021,
                    "fingerprint": "Hwj1EohYu6MmCRA3",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1HKYq9DdxaJLlE0x/ch_1HMo0KDdxaJLlE0xebKWfeeP/rcpt_HwhP1VyIUWNtk2z2klpG5j213IBbAl3",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1HMo0KDdxaJLlE0xebKWfeeP/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1HMo0KDdxaJLlE0x9fGcPoED"
          },
          "client_secret": "pi_1HMo0KDdxaJLlE0x9fGcPoED_secret_8SuPOIeLQ4lvhhWNsXua2KjB3",
          "confirmation_method": "automatic",
          "created": 1599022528,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1HMo0KDdxaJLlE0xIjUr9dWX",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 02 Sep 2020 04:55:26 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_743229dc407b4dc18dd2f2467c043f8a/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_f3491b747be74e55a884d82bf26039a1"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - '08d6b0bd5f4f25c3f84fa555000129d0'
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_743229dc407b4dc18dd2f2467c043f8a/label
    body:
      encoding: UTF-8
      string: '{"file_format":"PDF"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - ef08036b5f4f25c4f82d15bd0000bebe
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb2sj 0ab7988[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_1HMo0KDdxaJLlE0x9fGcPoED/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMo0KDdxaJLlE0x9fGcPo[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_743229dc407b4dc18dd2f2467c043f8a/refund
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 2cfbacb15f4f25c6f83d84b30000385c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb10sj
      X-Version-Label:
      - easypost-202[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"start_datetime":"2020-09-01T21:55:26-07:00"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - a4d67b085f4f25c6f850b17700001089
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1sj 59038857a6
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"shipments":[{"created_at":"2020-09-02T04:55:30Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9449000897846047762312","updated_at":"2020-09-02T04:55:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4d0c896d843f4ea7b453248176cc729b","object":"Address","created_at":"2020-09-02T04:55:29Z","updated_at":"2020-09-02T04:55:29Z","name":"AVAILABLE
        OWNER","company":null,"street1":"3700 LIBRA DR # 161111","street2":"","city":"ORLANDO","state":"FL","zip":"32816-8025","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":28.60677,"longitude":-81.20502,"time_zone":"America/New_York"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ef02e171369545aa95ea4f7a5dc59ad4","object":"Parcel","created_at":"2020-09-02T04:55:30Z","updated_at":"2020-09-02T04:55:30Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_cdda21e633b04f208ebbfb73adb46529","created_at":"2020-09-02T04:55:31Z","updated_at":"2020-09-02T04:55:33Z","date_advance":0,"integrated_form":"none","label_date":"2020-09-02T04:55:31Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20200902/697985e9334746d19cbdbbff5c8a24c9.png","label_pdf_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20200902/858dd9f5943648c6bf7e54f45aab5edd.pdf","label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_f3491b747be74e55a884d82bf26039a1","object":"Rate","created_at":"2020-09-02T04:55:31Z","updated_at":"2020-09-02T04:55:31Z","mode":"test","service":"MediaMail","carrier":"USPS","rate":"2.80","currency":"USD","retail_rate":"2.80","retail_currency":"USD","list_rate":"2.80","list_currency":"USD","delivery_days":3,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":3,"shipment_id":"shp_743229dc407b4dc18dd2f2467c043f8a","carrier_account_id":"ca_f3f8e1cfd[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents?created%5Bgte%5D=1599022526
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
  [...]
