---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Admin Admin","street1":"1410 NE Campus Parkway","city":"Seattle","state":"WA","zip":"98195","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 73e54adc5f5eeccef49acf650004ad00
      Location:
      - "/api/v2/addresses/adr_d5a43f21eb6e4c1cbf4a17d52d445167"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb9sj
      X-Version-Label:
      - easypost-202009112147-945d4a10fd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2sj 8df81f0396
      - intlb1sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_d5a43f21eb6e4c1cbf4a17d52d445167","object":"Address","created_at":"2020-09-14T04:08:46Z","updated_at":"2020-09-14T04:08:46Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Mon, 14 Sep 2020 04:08:46 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - e2f2ffe25f5eeccef49ae8cc000577fb
      Location:
      - "/api/v2/parcels/prcl_9102b62a2e6e4d39928695960c08ed41"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202009112147-945d4a10fd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 8df81f0396
      - intlb1sj 8df81f0396
      - intlb2nuq 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_9102b62a2e6e4d39928695960c08ed41","object":"Parcel","created_at":"2020-09-14T04:08:46Z","updated_at":"2020-09-14T04:08:46Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Mon, 14 Sep 2020 04:08:46 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_d5a43f21eb6e4c1cbf4a17d52d445167"},"from_address":{"id":"adr_d5a43f21eb6e4c1cbf4a17d52d445167"},"parcel":{"id":"prcl_9102b62a2e6e4d39928695960c08ed41"},"options":{"special_rates_eligibility":"USPS.MEDIAMAIL"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - fdd19d455f5eeccff49b748400000ae6
      Location:
      - "/api/v2/shipments/shp_cbef54fb06b449749d5c470210e41bbf"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202009112147-945d4a10fd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 8df81f0396
      - intlb1nuq 8df81f0396
      - intlb1sj 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-14T04:08:47Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-14T04:08:47Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d5a43f21eb6e4c1cbf4a17d52d445167","object":"Address","created_at":"2020-09-14T04:08:46Z","updated_at":"2020-09-14T04:08:46Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9102b62a2e6e4d39928695960c08ed41","object":"Parcel","created_at":"2020-09-14T04:08:46Z","updated_at":"2020-09-14T04:08:46Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_b0bbe58982f544c0a850addc89a0caa5","object":"Rate","created_at":"2020-09-14T04:08:47Z","updated_at":"2020-09-14T04:08:47Z","mode":"test","service":"MediaMail","carrier":"USPS","rate":"2.80","currency":"USD","retail_rate":"2.80","retail_currency":"USD","list_rate":"2.80","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_cbef54fb06b449749d5c470210e41bbf","carrier_account_id":"ca_f3f8e1cfd8434074aed3cbdedf3529b8"},{"id":"rate_6249ce12a78244cb8aa398e4a47cf8cb","object":"Rate","created_at":"2020-09-14T04:08:47Z","updated_at":"2020-09-14T04:08:47Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.02","currency":"USD","retail_rate":"7.50","retail_currency":"USD","list_rate":"7.02","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_cbef54fb06b449749d5c470210e41bbf","carrier_ac[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=320&currency=usd&payment_method=pm_card_visa&confirm=true&error_on_requires_action=true&capture_method=manual
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HR8zjDdxaJLlE0xeKzgQaN9",
          "object": "payment_intent",
          "amount": 320,
          "amount_capturable": 320,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1HR8zkDdxaJLlE0x23DXJNDO",
                "object": "charge",
                "amount": 320,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": null,
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": false,
                "created": 1600056528,
                "currency": "usd",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 20,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1HR8zjDdxaJLlE0xeKzgQaN9",
                "payment_method": "pm_1HR8zjDdxaJLlE0x9kikKNDY",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2021,
                    "fingerprint": "Hwj1EohYu6MmCRA3",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1HKYq9DdxaJLlE0x/ch_1HR8zkDdxaJLlE0x23DXJNDO/rcpt_I1BMHyYiOA45jlF7i7OSYeBymbdKdbY",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1HR8zkDdxaJLlE0x23DXJNDO/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1HR8zjDdxaJLlE0xeKzgQaN9"
          },
          "client_secret": "pi_1HR8zjDdxaJLlE0xeKzgQaN9_secret_jHYDwKx6rapAkpMExeSrQGi9m",
          "confirmation_method": "automatic",
          "created": 1600056527,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1HR8zjDdxaJLlE0x9kikKNDY",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 14 Sep 2020 04:08:46 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 300182085f5eecd1f4c03fb20005a60e
      Location:
      - "/api/v2/parcels/prcl_6a2d212240304f3e861ec0ccf8fb9011"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202009112147-945d4a10fd-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1wdc 8df81f0396
      - intlb1sj 8df81f0396
      - intlb2wdc 8df81f0396
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_6a2d212240304f3e861ec0ccf8fb9011","object":"Parcel","created_at":"2020-09-14T04:08:49Z","updated_at":"2020-09-14T04:08:49Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Mon, 14 Sep 2020 04:08:46 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_fe4df01c21fd43e38272ab9130f76ebe/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_b3809bd09fbd4fb2a770e7baa73b296b"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e2f2ffdb5f5eecd3f49ae90800057887
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - big[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_fe4df01c21fd43e38272ab9130f76ebe/label
    body:
      encoding: UTF-8
      string: '{"file_format":"PDF"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - fdd19d4c5f5eecd4f49b74a900000b5c
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202009112147-945d4a10fd-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 8df81f0396
      - intlb2nuq 8df81f0396
      - intlb2sj 8df81f0[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_fe4df01c21fd43e38272ab9130f76ebe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - e1b9747e5f5eecd5f4c0c28f00051936
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-2020091121[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_1HR8zjDdxaJLlE0xeKzgQaN9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HR8zjDdxaJLlE0xeKzgQaN9",
   [...]
