---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Admin Admin","street1":"1410 NE Campus Parkway","city":"Seattle","state":"WA","zip":"98195","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5cfde05a5f4ed348fe41693f0006f9bd
      Location:
      - "/api/v2/addresses/adr_596f04ce1292431dafb50762c2130cdc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_596f04ce1292431dafb50762c2130cdc","object":"Address","created_at":"2020-09-01T23:03:36Z","updated_at":"2020-09-01T23:03:36Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}}'
  recorded_at: Tue, 01 Sep 2020 23:03:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0575f4ed348fe4169430006f9d9
      Location:
      - "/api/v2/parcels/prcl_12a592c2bdcf4f228523da9c1f17718f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb2nuq 0ab7988560
      - intlb2sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_12a592c2bdcf4f228523da9c1f17718f","object":"Parcel","created_at":"2020-09-01T23:03:36Z","updated_at":"2020-09-01T23:03:36Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Tue, 01 Sep 2020 23:03:35 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_596f04ce1292431dafb50762c2130cdc"},"from_address":{"id":"adr_596f04ce1292431dafb50762c2130cdc"},"parcel":{"id":"prcl_12a592c2bdcf4f228523da9c1f17718f"},"options":{"special_rates_eligibility":"USPS.MEDIAMAIL"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5cfde05a5f4ed348fe41695e0006f9e4
      Location:
      - "/api/v2/shipments/shp_adb424d758014b3ea62ef3c8ddabcf8d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb6sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb1sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-09-01T23:03:36Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-09-01T23:03:36Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_596f04ce1292431dafb50762c2130cdc","object":"Address","created_at":"2020-09-01T23:03:36Z","updated_at":"2020-09-01T23:03:36Z","name":"ADMIN
        ADMIN","company":null,"street1":"1410 NE CAMPUS PKWY","street2":"","city":"SEATTLE","state":"WA","zip":"98195-0003","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":47.65652,"longitude":-122.31268,"time_zone":"America/Los_Angeles"}}}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_12a592c2bdcf4f228523da9c1f17718f","object":"Parcel","created_at":"2020-09-01T23:03:36Z","updated_at":"2020-09-01T23:03:36Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2883d7277f5c4657a4468bfd9e2aeb8e","object":"Rate","created_at":"2020-09-01T23:03:37Z","updated_at":"2020-09-01T23:03:37Z","mode":"test","service":"MediaMail","carrier":"USPS","rate":"2.80","currency":"USD","retail_rate":"2.80","retail_currency":"USD","list_rate":"2.80","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_adb424d758014b3ea62ef3c8ddabcf8d","carrier_account_id":"ca_f3f8e1cfd8434074aed3cbdedf3529b8"},{"id":"rate_1c3c48eb241a40a2840129944dcb86f3","object":"Rate","created_at":"2020-09-01T23:03:37Z","updated_at":"2020-09-01T23:03:37Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_adb424d758014b3ea62ef3c8ddabcf8d","ca[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=320&currency=usd&payment_method=pm_card_visa&confirm=true&error_on_requires_action=true&capture_method=manual
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMiVpDdxaJLlE0xirlsc0Uh",
          "object": "payment_intent",
          "amount": 320,
          "amount_capturable": 320,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1HMiVqDdxaJLlE0xLszg48SF",
                "object": "charge",
                "amount": 320,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": null,
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": false,
                "created": 1599001418,
                "currency": "usd",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 29,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1HMiVpDdxaJLlE0xirlsc0Uh",
                "payment_method": "pm_1HMiVpDdxaJLlE0xsgcirO3m",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 9,
                    "exp_year": 2021,
                    "fingerprint": "Hwj1EohYu6MmCRA3",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1HKYq9DdxaJLlE0x/ch_1HMiVqDdxaJLlE0xLszg48SF/rcpt_HwbjXp7p3em3zlyUkCQlZOguPchbNCF",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1HMiVqDdxaJLlE0xLszg48SF/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1HMiVpDdxaJLlE0xirlsc0Uh"
          },
          "client_secret": "pi_1HMiVpDdxaJLlE0xirlsc0Uh_secret_Mwp9F1JfORuSBiQXkZdYIEjS5",
          "confirmation_method": "automatic",
          "created": 1599001417,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1HMiVpDdxaJLlE0xsgcirO3m",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Tue, 01 Sep 2020 23:03:35 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses?verify_strict%5B%5D=delivery
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Available Owner","street1":"3700 Libra Dr # 161111","city":"Orlando","state":"FL","zip":"32816","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0535f4ed34afe41697f0006fa32
      Location:
      - "/api/v2/addresses/adr_3cc315140860415db4ce905d806300dc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb7sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1sj 0ab7988560
      - intlb2nuq 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_3cc315140860415db4ce905d806300dc","object":"Address","created_at":"2020-09-01T23:03:39Z","updated_at":"2020-09-01T23:03:39Z","name":"AVAILABLE
        OWNER","company":null,"street1":"3700 LIBRA DR # 161111","street2":"","city":"ORLANDO","state":"FL","zip":"32816-8025","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[],"details":{"latitude":28.60677,"longitude":-81.20502,"time_zone":"America/New_York"}}}}'
  recorded_at: Tue, 01 Sep 2020 23:03:35 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9795860fc9314177b41dc5c31977113d/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_18a9ba3aef8247b7a96fa54c2e63549a"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 5cfde05a5f4ed34bfe4169a20006fa5b
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - big[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_9795860fc9314177b41dc5c31977113d/label
    body:
      encoding: UTF-8
      string: '{"file_format":"PDF"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0535f4ed34cfe4169a60006fa8a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202009011948-b8863aa040-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb2sj 0ab79885[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_1HMiVpDdxaJLlE0xirlsc0Uh/capture
    body:
      encoding: UTF-8
      string: amount_to_capture=320
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMiV[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_9795860fc9314177b41dc5c31977113d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 5cfde0565f4ed34ffe4169c30006faf0
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-2020090119[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_1HMiVpDdxaJLlE0xirlsc0Uh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HMiVpDdxaJLlE0xirlsc0Uh",
   [...]
