---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"address":{"name":"Admin Admin","street1":"1410 NE Campus Parkway","city":"Seattle","state":"WA","zip":"98195","country":"US"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cf6978c15f4741adfe54b02e0001aa94
      Location:
      - "/api/v2/addresses/adr_8747f91d9b9b4facba22533190a585c0"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202008262015-8414682647-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb1sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_8747f91d9b9b4facba22533190a585c0","object":"Address","created_at":"2020-08-27T05:16:29Z","updated_at":"2020-08-27T05:16:29Z","name":"Admin
        Admin","company":null,"street1":"1410 NE Campus Parkway","street2":null,"city":"Seattle","state":"WA","zip":"98195","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Thu, 27 Aug 2020 05:16:30 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"width":"5.8","length":"8.6","height":"1.1","weight":"15.2"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 9421ffd45f4741aefe320a410001707e
      Location:
      - "/api/v2/parcels/prcl_8b76925132fc4139b4401639afeea00f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb8sj
      X-Version-Label:
      - easypost-202008262015-8414682647-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1wdc 59038857a6
      - intlb1sj 0ab7988560
      - intlb1wdc 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_8b76925132fc4139b4401639afeea00f","object":"Parcel","created_at":"2020-08-27T05:16:30Z","updated_at":"2020-08-27T05:16:30Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"}'
  recorded_at: Thu, 27 Aug 2020 05:16:30 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_8747f91d9b9b4facba22533190a585c0"},"from_address":{"id":"adr_8747f91d9b9b4facba22533190a585c0"},"parcel":{"id":"prcl_8b76925132fc4139b4401639afeea00f"},"options":{"special_rates_eligibility":"USPS.MEDIAMAIL"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - cf6978c15f4741aefe54b0510001aa9c
      Location:
      - "/api/v2/shipments/shp_b083e46b4c3d46598915815fb6446078"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb4sj
      X-Version-Label:
      - easypost-202008262015-8414682647-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb1sj 0ab7988560
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"2020-08-27T05:16:30Z","is_return":false,"messages":[],"mode":"test","options":{"special_rates_eligibility":"USPS.MEDIAMAIL","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2020-08-27T05:16:30Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_8747f91d9b9b4facba22533190a585c0","object":"Address","created_at":"2020-08-27T05:16:29Z","updated_at":"2020-08-27T05:16:29Z","name":"Admin
        Admin","company":null,"street1":"1410 NE Campus Parkway","street2":null,"city":"Seattle","state":"WA","zip":"98195","country":"US","phone":null,"email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8b76925132fc4139b4401639afeea00f","object":"Parcel","created_at":"2020-08-27T05:16:30Z","updated_at":"2020-08-27T05:16:30Z","length":8.6,"width":5.8,"height":1.1,"predefined_package":null,"weight":15.2,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_1ed3c34f6d11434fb47f9a8669e56e2c","object":"Rate","created_at":"2020-08-27T05:16:30Z","updated_at":"2020-08-27T05:16:30Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.00","currency":"USD","retail_rate":"26.75","retail_currency":"USD","list_rate":"23.00","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_b083e46b4c3d46598915815fb6446078","carrier_account_id":"ca_f3f8e1cfd8434074aed3cbdedf3529b8"},{"id":"rate_00cf4641bf214ebeb2c46421bd0c32e1","object":"Rate","created_at":"2020-08-27T05:16:30Z","updated_at":"2020-08-27T05:16:30Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"6.92","currency":"USD","retail_rate":"6.92","retail_currency":"USD","list_rate":"6.92","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_b083e46b4c3d46598915815fb6446078","carrie[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=320&currency=usd&payment_method=pm_card_visa&confirm=true&error_on_requires_action=true&capture_method=manual
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HKdTPDdxaJLlE0xcP9mHKWH",
          "object": "payment_intent",
          "amount": 320,
          "amount_capturable": 320,
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1HKdTPDdxaJLlE0xt46EiZr8",
                "object": "charge",
                "amount": 320,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": null,
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": false,
                "created": 1598505391,
                "currency": "usd",
                "customer": null,
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 62,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1HKdTPDdxaJLlE0xcP9mHKWH",
                "payment_method": "pm_1HKdTPDdxaJLlE0xQkk0PrDD",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 8,
                    "exp_year": 2021,
                    "fingerprint": "Hwj1EohYu6MmCRA3",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": null,
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1HKYq9DdxaJLlE0x/ch_1HKdTPDdxaJLlE0xt46EiZr8/rcpt_HuSOCgZ9usnZcM9weddyndB0fv4FC0I",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1HKdTPDdxaJLlE0xt46EiZr8/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1HKdTPDdxaJLlE0xcP9mHKWH"
          },
          "client_secret": "pi_1HKdTPDdxaJLlE0xcP9mHKWH_secret_IXJYtasx2o7aiI2RtuvfCtG8C",
          "confirmation_method": "automatic",
          "created": 1598505391,
          "currency": "usd",
          "customer": null,
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1HKdTPDdxaJLlE0xQkk0PrDD",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 27 Aug 2020 05:16:32 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_08bade3dfe4d40b7b9474b6fbb6bc42e/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_92e603af4ae84345b19e798a3401d803"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 9421ffd05f4741b1fe320acb000170b6
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - big[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_08bade3dfe4d40b7b9474b6fbb6bc42e/label
    body:
      encoding: UTF-8
      string: '{"file_format":"PDF"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - cf6978be5f4741b2fe54b3e90001aae9
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb3sj
      X-Version-Label:
      - easypost-202008262015-8414682647-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 59038857a6
      - intlb1nuq 0ab7988560
      - intlb1sj 0ab79885[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents/pi_1HKdTPDdxaJLlE0xcP9mHKWH/capture
    body:
      encoding: UTF-8
      string: amount_to_capture=320
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HKdT[...]
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_08bade3dfe4d40b7b9474b6fbb6bc42e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 6cd149835f4741b4fe4213e90000ba36
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb12sj
      X-Version-Label:
      - easypost-202008262[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_1HKdTPDdxaJLlE0xcP9mHKWH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-03-02'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1HKdTPDdxaJLlE0xcP9mHKWH",
   [...]
